{% extends "base.html" %}

{% block content %}
<div class="container-fluid content text-center">
<h2></h2>
<div class="row text-left">
  <div class="col-md-2"></div>
    <div class="col-md-8">
        <h3>Delete task for
            <u>
                {{ task.recruit_set.all.first.student.first_name }} {{ task.recruit_set.all.first.student.last_name }}
            </u>
        </h3>
      <form action="" method="post">
        {% csrf_token %}
          <h4>Tasks should only be deleted if they are made by <u>mistake</u>!</h4>
        <p>This action cannot be undone.</p>
          <table class="table">
                <thead>
                    <th>Student</th>
                    <th>Task</th>
                </thead>
              <tbody>
                <tr>
                    <td>{{ task.recruit_set.all.first.student.first_name }}
                        {{ task.recruit_set.all.first.student.last_name }}
                    </td>
                    <td>{{ task.get_task_display }}
                        {% if task.task == "other" %}
                            - {{ task.other }}
                        {% endif %}
                    </td>
                </tr>
              </tbody>

          </table>
        <button type="submit" class="alert alert-danger">
          Delete</button>
      </form></div>
    <div class="col-md-4"></div>
</div>
</div>
<p> </p>
{% endblock %}