{% extends "base.html" %}

{% block content %}
<div class="container-fluid content text-center">
<h2></h2>
<div class="row text-left">
  <div class="col-md-3"></div>
    <div class="col-md-6">
        {% if title != None %}
            <h3>{{ title }}</h3>
        {% endif %}

      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
         {{ form.as_p }}
        <button type="submit">
          Submit</button>
      </form>
    <span class="pull-right"><a href="{{ task.get_delete_url }}">Delete</a></span>
    </div>
    <div class="col-md-3"></div>
</div>
</div>
<p> </p>
{% endblock %}