{% extends 'base.html' %}

{% block content %}

<div class="container-fluid content">

    <div class="row">
        <div class="col-md-8 students">

            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                    Jobs
                </h3></div>

                <table class="table">
                    <thead>
                        <th>Name</th>
                        <th>Title</th>
                        <th>Salary</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Company</th>
                        <th>Edit</th>
                    </thead>
                    {% for job in jobs %}
                    <tr>
                        <td><a href="{{ job.recruit_set.all.first.student.get_absolute_url }}">
                            {{ job.recruit_set.all.first.student.first_name }}
                            {{ job.recruit_set.all.first.student.last_name }}</a>
                        </td>
                        <td>{{ job.title }}</td>
                        <td>${{ job.salary }}</td>
                        <td>{{ job.start_date }}</td>
                        <td>{% if job.end_date %}{{ job.end_date }}{% endif %}</td>
                        <td>{{ job.company.name }}</td>
                        <td>
                            <a href="{{ job.get_absolute_url }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            <a href="{{ job.get_delete_url }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    {% empty %}
                        <tr><td>No jobs</td></tr>
                    {% endfor %}
                </table>

            </div>
        </div>

        <div class="col-md-4">

            <div class="panel panel-info">
                <div class="panel-heading" id="filters">
                    <h3 class="panel-title"><i class="fa fa-filter" aria-hidden="true"></i> Filter</h3>
                </div>

                <table class="table">
                    <tr><td><a href="?employ=true">Currently Employ TTT Grad</a></td></tr>
                </table>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading" id="filters">
                    <h3 class="panel-title"><i class="fa fa-filter" aria-hidden="true"></i> Filter by Company</h3>
                </div>

                <table class="table">
                    {% for company in companies %}
                        <tr><td><a href="?company={{ company.pk }}">{{ company.name }}</a></td></tr>
                    {% empty %}
                        <tr><td>No companies to filter by</td></tr>
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>
</div>

{% endblock %}