{% extends "base.html" %}

{% block content %}
<div class="container-fluid content text-center">

<div class="row text-left">
    <div class="col-md-4">
        <h2>{{ student.first_name }} {{ student.last_name }} Tuition</h2>
      <form action="" method="post">
        {% csrf_token %}
        {{ tuition_form.as_p }}
        <button type="submit">
          Submit</button>
      </form>
    </div>
    <div class="col-md-8">
    <h2>Payments</h2>
    <table class="table" id="active-students">
        <thead>
            <tr>
                <th>Date</th>
                <th>Student</th>
                <th>Amount</th>
                <th>Type</th>
                <th>Status</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            {% for payment in tuition.payments.all %}
            <tr>
                <td> {{ payment.date }} </td>
                <td><a href="/student/{{ payment.tuition.first.student.pk }}">{{ payment.tuition.first.student.first_name }} {{ payment.tuition.first.student.last_name }}</a></td>
                <td> ${{ payment.amount|floatformat:2 }} </td>
                <td> {{ payment.get_type_display }} </td>
                <td> {{ payment.completed|yesno:"Completed,Pending" }} </td>
                <td><a href="/finance/payment/{{ payment.pk }}/edit/?next=/finance"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        <p><a href="/finance/{{ student.tuition.pk }}/payment/add/?next={{ request.path }}">Add Payment</a></p>

    </div>

</div>
</div>
<p> </p>
{% endblock %}