{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block header %}{{ title }}{% endblock header %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="{% static 'static/base_style.css' %}">
    <link rel="shortcut icon" href="{% static 'static/favicon.ico' %}"/>

</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <a class="navbar-brand" href="/dashboard/"><img src="{% static 'static/android-icon-36x36.png' %}"></a>
            <ul class="nav navbar-nav">
                <li><a href="/student/">Students</a></li>
                <li><a href="/dashboard/attendance/">Attendance</a></li>
                <li><a href="/place/">Places</a></li>
                <li><a href="/project/">Projects</a></li>
                <li><a href="/student/list/job-status/">Recruit</a></li>
                <li><a href="/admin"><i class="fa fa-lock" aria-hidden="true"></i> Admin</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right" >
                <li><a><span id="welcome-text">Welcome, {{ current_user.first_name }}&nbsp;</span></a></li>
                <li><a href="/admin/logout/">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

{% block content %}
{% endblock %}

  <div class="container-fluid">
    <p class="small"><i class="fa fa-copyright" aria-hidden="true"></i>TurnToTech</p>
  </div>

</body>
</html>