{#{% extends "base.html" %}#}

{% extends "student_base_detail.html" %}

{% block internal_content %}

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-briefcase" aria-hidden="true"></i> Recruit

                {% if student.tuition != None %}
                    <span class="pull-right">
                    <a href="{{ student.get_recruit_edit_url }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    </span>
                {% endif %}
                </h3></div>

                <div class="panel-body">
                {% if student.recruit %}
                    <p><strong>Wants help looking for a job:</strong> {{ student.recruit.wants_help_looking_for_work|yesno:"Yes,No" }}</p>
                {% else %}
                    <p>No recruit information. <a href="{{ student.get_recruit_edit_url }}">Add</a>
                {% endif %}
                </div>
            </div>

            {% if student.recruit != None %}
            <div class="row">
                <div class="col-md-6">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-file-text-o" aria-hidden="true"></i> Resumes
                                <span class="pull-right">
                                    <a href="{{ student.recruit.get_add_resume_url }}">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </a>
                                </span>
                            </h3>
                        </div>

                        <table class="table">
                            {% for resume in resumes.all %}
                                <tr><td><a href="{{ MEDIA_URL }}{{ resume.file }}"><i class="fa fa-file-o" aria-hidden="true"></i> {{ resume.date }}</a></td></tr>
                            {% empty %}
                                <tr><td>No Resumes <a href="{{ student.recruit.get_add_resume_url }}">Add</a></td></tr>
                            {% endfor %}
                        </table>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-link" aria-hidden="true"></i> Links
                                <span class="pull-right">
                                    <a href="{{ student.recruit.get_add_link_url }}">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </a>
                                </span>
                            </h3>
                        </div>
                        <table class="table">
                            {%  for link in student.recruit.links.all %}
                                <tr><td><a href="{{ link.url }}">
                                    {% if link.type == 'github' %}
                                        <i class="fa fa-github" aria-hidden="true"></i> {{ link.get_type_display }}
                                    {% elif link.type == 'linkedin' %}
                                        <i class="fa fa-linkedin" aria-hidden="true"></i> {{ link.get_type_display }}
                                    {% elif link.type == 'blog' %}
                                        <i class="fa fa-rss" aria-hidden="true"></i> {{ link.get_type_display }}
                                    {% elif link.type == 'website' %}
                                        <i class="fa fa-link" aria-hidden="true"></i> {{ link.get_type_display }}
                                    {% elif link.type == 'twitter' %}
                                        <i class="fa fa-twitter" aria-hidden="true"></i> {{ link.get_type_display }}
                                    {% elif link.type == 'app' %}
                                        <i class="fa fa-mobile" aria-hidden="true"></i> {{ link.get_type_display }}
                                    {% else %}
                                        <i class="fa fa-link" aria-hidden="true"></i> {{ link.get_type_display }} - {{ link.other }}
                                    {% endif %}

                                </a></td></tr>
                            {% empty %}
                                <tr><td>No Links <a href="{{ student.recruit.get_add_link_url }}">Add</a></td></tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-sticky-note-o" aria-hidden="true"></i> Notes
                            </h3>
                        </div>

                        <table class="table">
                            {% for note in notes.all %}
                                <tr>
                                    <td><strong>{{ note.author }}</strong> <span class="pull-right"><small>
                                        {{ note.last_modified }}
                                        </small>
                                        <a href="/note/{{ note.pk }}/edit/?next={{ request.path }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                        <a href="/note/{{ note.pk }}/delete/?next={{ request.path }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                        </span>
                                    <br />
                                    {{ note.text }}</td>
                                </tr>
                            {% empty %}
                                <tr><td>No Notes</td></tr>
                            {% endfor %}
                            <tr>
                                <td>
                                    <form action="{{ student.recruit.get_add_note_url }}" method="post">
                                        {% csrf_token %}
                                        {{ note_form.as_p }}
                                         <button>Add note</button>
                                     </form>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
            {% endif %}

        </div>

        {% if student.recruit != None %}
        <div class="col-md-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-tasks" aria-hidden="true"></i> Tasks
                        <span class="pull-right">
                            <a href="{{ student.recruit.get_add_task_url }}">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                        </span>
                    </h3>
                </div>

                <table class="table">
                    <thead>
                        <th>Task</th>
                        <th>Due Date</th>
                        <th>Completed</th>
                        <th>Edit</th>
                    </thead>
                    {% for task in tasks.all %}
                    <tr>
                        <td>
                        {% if task.task == "other" %}
                            {{ task.other }}
                        {% else %}
                            {{ task.get_task_display }}
                        {% endif %}
                        </td>

                        <td>{{ task.date_to_finish_by }}</td>
                        <td>{% if task.completed == True %}{{ task.completed_date }}{% else %}{{ task.completed|yesno:"Yes,No" }}{% endif %}</td>
                        <td>
                            <a href="{{ task.get_absolute_url }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            {%  if task.completed == False %}
                                <a href="{{ task.get_complete_url }}"><i class="fa fa-check" aria-hidden="true"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                        <tr><td>No tasks <a href="{{ student.recruit.get_add_task_url }}">Add</a></td></tr>
                    {% endfor %}
                </table>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-briefcase" aria-hidden="true"></i> Jobs
                        <span class="pull-right">
                            <a href="{{ student.recruit.get_add_job_url }}">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                        </span>
                    </h3>
                </div>

                <table class="table">
                    <thead>
                        <th>Title</th>
                        <th>Salary</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Company</th>
                        <th>Edit</th>
                    </thead>
                    {% for job in jobs.all %}
                    <tr>
                        <td>{{ job.title }}</td>
                        <td>${{ job.salary }}</td>
                        <td>{{ job.start_date }}</td>
                        <td>{{ job.end_date }}</td>
                        <td><a href="{{ job.company.website }}">{{ job.company.name }}</a></td>
                        <td>
                            <a href="{{ job.get_absolute_url }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            <a href="{{ job.get_delete_url }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    {% empty %}
                        <tr><td>No jobs <a href="{{ student.recruit.get_add_job_url }}">Add</a></td></tr>
                    {% endfor %}
                </table>

            </div>
        {% endif %}

    </div>
</div>

{% endblock %}
