{% extends "base.html" %}

{% block content %}
<div class="container-fluid content">
<h2>Emergency Contact Information</h2>
<div class="row">
    <form action="" method="post">
  <div class="col-md-4">
      {% csrf_token %}
      <h3>Information</h3>
      {{ emergency_contact_form.as_p }}
  </div>
  <div class="col-md-4">
      <h3>Address</h3>
        {{ address_form.as_p }}
      </div>
  <div class="col-md-4">
      <h3>Telephone</h3>
      {{ telephone_form1.as_p }}
      <br />
      <p>This is not required but would be useful in an actual emergency.</p>
      {{ telephone_form2.as_p }}
  </div>

</div>
    <button type="submit">Submit</button>
    </form>
</div>
<p> </p>
{% endblock %}