{% block students %}
{#    <tbody>#}
{#        <tr><th>Name</th><th><i class="fa fa-envelope" aria-hidden="true"></i></th><th>Course</th><th>Current Project</th></tr>#}
        {% for student in object_list %}
            <tr class="model-student">
                <td><a href="/student/{{ student.id }}/">{{ student.first_name }} {{ student.last_name }}</a></td>
                <td><a href="https://mail.google.com/mail/?view=cm&fs=1&to={{ student.first_name|urlencode }}+{{ student.last_name|urlencode }}&lt;{{ student.email }}&gt;"><i class="fa fa-envelope" aria-hidden="true"></i></a>  </td>
                {% if student.directory_information %}
                    <td><a href="tel:/{{ student.directory_information.phone_number.phone_number }}" class="phone"><i class="fa fa-phone" aria-hidden="true"></i></a></td>
                {% else %}
                    <td><i class="fa fa-phone" aria-hidden="true" style="color:lightgray;"></i></td>
                {% endif %}
                <td>{{ student.course.name }}</td>
                <td>{{ student.current_project.name }}</td></tr>
        {% endfor %}
{#    </tbody>#}
{% endblock %}

<script>
    $(".phone").click( function (event) {
        Telephone = (event.currentTarget.href).toString().substring(5)
        alert(Telephone)
        event.preventDefault();
    });
</script>
