{#{% extends "base.html" %}#}

{% extends "student_base_detail.html" %}

{% block internal_content %}

    <div class="row">

        <div class="col-md-4 students">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-mobile" aria-hidden="true"></i> Contact Information
                        <span class="pull-right">
                            <a href="/student/{{ student.pk }}/contact-info/edit/?next={{ request.path }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        </span>
                    </h3>
                </div>
                <div class="panel-body">
                <p><strong>Email:</strong>
                        <a href="https://mail.google.com/mail/?view=cm&fs=1&to={{ student.email }}">
                            {{ student.email }}
                        </a>
                    <br>
                    <strong>Change Status: </strong> {{ student.active|yesno:"Active,Inactive" }} <a href="/student/{{ student.pk }}/status/edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    </p>
                {% if student.directory_information != None %}
                    <p><strong>Phone:</strong>
                        <a href="tel://{{ student.directory_information.phone_number.phone_number }}">
                            {{ student.directory_information.phone_number.phone_number }}
                        </a>
                    </p>

                    <p><strong>Address:</strong>
                        <a href="http://maps.google.com/?q={{ student.directory_information.address.street_address }}, {{ student.directory_information.address.city }}">
                            <i class="fa fa-map-marker" aria-hidden="true"></i></a><br>
                    {{ student.directory_information.address.street_address }} {{ student.directory_information.address.apt }}<br>
                    {{ student.directory_information.address.city }},
                    {{ student.directory_information.address.state }}<br>
                    {{ student.directory_information.address.zip }}
                    </p>
                {% else %}
                    <p>No phone and address information. <a href="/student/{{ student.pk }}/contact-info/edit">Add</a></p>
                {% endif %}
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Emergency Contact
                    <span class="pull-right">
                        <a href="/student/{{ student.pk }}/emergency-contact-info/edit/?next={{ request.path }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    </span>
                    </h3>
                </div>
                <div class="panel-body">
                {% if student.emergency_contact != None %}
                    <p><strong>Name:</strong> {{ student.emergency_contact.first_name }} {{ student.emergency_contact.last_name }}</p>
                    <p><strong>Relationship:</strong> {{ emergency_contact_relationship }}</p>
                    <p><strong>Phone:</strong>
                        <ul class="list-inline">
                        {% for phone in student.emergency_contact.telephone_numbers.all %}
                            <li><a href="tel://{{ phone.phone_number }}">
                            {{ phone.phone_number }}
                            </a></li>
                        {% endfor %}
                        </ul>
                    </p>
                {% else %}
                    <p>No emergency contact. <a href="/student/{{ student.pk }}/emergency-contact-info/edit">Add</a></p>
                {% endif %}
                </div>
            </div>

        </div>


{#    student = models.ForeignKey(Student)#}
{#    start_date = models.DateField(default=timezone.now)#}
{#    end_date = models.DateField(default=timezone.now, blank=True)#}
{#    reason = models.CharField(max_length=31, choices=REASON_CHOICES, blank=True, null=True)#}
{#    note = models.ForeignKey(Note, blank=True, null=True)#}


        <div class="col-md-4 students">

            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Education</h3></div>
                <div class="panel-body">
                {% if student.education != None %}
                    <p><strong>Has CS Degree:</strong> {{ student.education.has_cs_degree|yesno:"Yes,No" }}<br/>
                    <strong>Still a Student:</strong> {{ student.education.still_a_student|yesno:"Yes,No" }}</p>
                    {% for degree in student.education.education.all %}
                        <p><strong>Degree:</strong> {{ degree.get_degree_display }}<br/>
                            <strong>Field of Study:</strong> {{ degree.field_of_study }}<br/>
                            <strong>Institution:</strong> {{ degree.institution }}<br />
                            <strong>Dates:</strong> {% if degree.start_date != None %}{{ degree.start_date }}{% endif %} - {% if degree.end_date != None %}{{ degree.end_date }}{% endif %}</p>
                    {% endfor %}
                {% else %}
                    <p>No education info on file. <a href="/student/{{ student.pk }}/education-info/edit/?next=/student/{{ student.pk }}/">Add</a></p>
                {% endif %}
                </div>
            </div>
        </div>


        <div class="col-md-4 students">

            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-sticky-note" aria-hidden="true"></i> Notes</div>
                <table class="table">
                        {% for note in student.notes.all %}
                        <tr>
                            <td><p>{{ note.author }} <small >
                                {% if note.date_added != note.last_modified %}
                                    Modified: {{ note.last_modified }}
                                {% else %}
                                    Added: {{ note.date_added }}
                                {% endif %}
                                </small>
                                <a href="/note/{{ note.pk }}/delete/?next={{ request.path }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                <a href="/note/{{ note.pk }}/edit/?next={{ request.path }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>

                                </p><p>
                                {{ note.text }}</td></p>
                        </tr>
                        {% empty %}
                        {% endfor %}
                </table>
                <div class="panel-body">
                <form action="/student/{{ student.pk }}/add-note/?next={{ request.path }}" method="post">
                    {% csrf_token %}
                        {{ note_form.as_p }}
                        <button>Add note</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
